<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.sales_inventry.springclient">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:usesCleartextTraffic="true"
      android:theme="@style/Theme.Navigation_Drawer">
    <activity android:name=".MainActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
        android:exported="true"
        android:label="Employee list"
        android:name=".EmployeeListActivity" />
    <activity
        android:exported="true"
        android:name=".EmployeeForm"
        android:label="Create new employee"/>

    <activity
        android:exported="true"
        android:label="Party list"
        android:name=".PartyListActivity" />
    <activity
        android:exported="true"
        android:name=".PartyForm"
        android:label="Create new party"/>

    <activity
        android:exported="true"
        android:label="Product list"
        android:name=".ProductListActivity" />
    <activity
        android:exported="true"
        android:name=".ProductForm"
        android:label="Create new product"/>

    <activity
        android:exported="true"
        android:label="Payment list"
        android:name=".PaymentListActivity" />
    <activity
        android:exported="true"
        android:name=".PaymentForm"
        android:label="Create new payment"/>

    <activity
        android:exported="true"
        android:label="Receipt list"
        android:name=".ReceiptListActivity" />
    <activity
        android:exported="true"
        android:name=".ReceiptForm"
        android:label="Create new receipt"/>

    <activity
        android:exported="true"
        android:label="Purchase list"
        android:name=".PurchaseListActivity" />
    <activity
        android:exported="true"
        android:name=".PurchaseForm"
        android:label="Create new purchase"/>

    <activity
        android:exported="true"
        android:label="Sale list"
        android:name=".SaleListActivity" />
    <activity
        android:exported="true"
        android:name=".SaleForm"
        android:label="Create new sale"/>


  </application>

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />

</manifest>